<head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34718344-1']);
  _gaq.push(['_setDomainName', 'antho.co']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<% provide(:title, 'About Us') %>


<div="wrap">
    <div id="about">
    <div class="top">
        <h1>About</h1>
        <br>
        <p>Antho’s mission is to be the definitive online museum of inspiring and timeless life stories,<br> curated collectively by family and friends.</p>
    </div>
    <div class="aboutantho">   
        <%= image_tag("aboutantho3.png", :id => "aboutalex") %>
        <%#= image_tag("aboutantho2.png", :size => "500x400", :id => "aboutalex") %>
        <h2>Antho</h2>
            <p>The world has been starving for an appropriate platform to share and view truly meaningful content about their friends and family.</p>
            <p>This platform hopes to change that.</p> 
            <p>Antho will be the world’s first online depository of people's life stories, collectively reconstructed to showcase their most significant social interactions and experiences.</p> 
            <p>There is much more to life than dates, facts, and historical context, or even “life events” and status updates. Antho aims to capture that vital missing piece: how did individuals actually impact one another? How did these individuals matter to the people around them?</p>
            <p>This is accomplished through Antho’s others-oriented approach, which empowers people to build one another’s life stories through individual tributes. These tributes then come together to form some of the most impressional episodes and narratives of our loved ones’ lives.</p> 
            <p>Through collaborating with others to reconstruct their families’ legacies, people can also learn things about loved ones that change the way they view themselves. They can draw inspiration from reading the often remarkable life stories inside the museum-inspired pages.</p>
            <p>Antho’s emphasis on timelessness re-enthrones the past as a teacher for the present, and its focus on impact redefines what it means to be a successful person. It's no longer about how many friends and connections you have, but the kind of impact you have on others.</p> 
            <p>As stories are shared and connections made on a platform that’s senior-friendly and adolescent-digestible, Antho bridges the gap between young and old. And by so doing, we hope to make personal and family history more fun, compelling, and accessible to the younger generation.</p>
            <p>The team at Antho is as optimistic for the future as we are inspired by the past. We hope you join us in the collective effort to repaint the past and inspire the future.</p> 
            <p>Team Antho</p>
    </div>
            <!--div class="post2"-->
                <%#= image_tag("howitallstarted.png", :size => "500x400", :id => "aboutalex") %>
                <!--h3><strong>How It All Started</strong></h3>
                <p>The spark that started Antho came from a very unlikely source - a 74 year old woman named Patricia. She has lived in San Francisco for most of her life.</p--> 
            <!--/div-->
    <div class="teamantho">
        <h2>Meet the Antho Team</h2>
        <div class="aboutalex">
            <%= image_tag("aboutalex.png", :size => "500x400", :id => "aboutalex") %>
            <h3>Alex</h3>
            <h5>Cofounder & CTO/CEO </h5>
            <p>Alex is the visionary one. He voluntarily left the comfort of Apple to forge his own path in the startup world. In the process, he inspired Nicole to jump on board and taught himself how to code to make his dream a reality.</p>
            <p>He's a foodie, a surfer, a wrestler of sea turtles and a Guillain-Barre survivor. He hails from Fremont, CA and is definitely a city boy, but don't mess with him in the kitchen. He's one mean cook.</p> 
            <h4>Email: alex@antho.co<br>Twitter: <a href="https://www.twitter.com/alexalexandalex" target="_blank">@alexalexandalex</a><br>Blog: <a href="http://www.alexanderous.co" target="_blank">www.alexanderous.co</a></h4>
        </div>
        <div class="aboutnicole">  
            <%= image_tag("aboutnicole.png", :size => "450x350", :id => "aboutnicole") %>
            <h3>Nicole</h3>
            <h5>Cofounder & COO </h5>
            <p>Nicole is the creative one. Inspired by Alex’s vision, she resigned from her dream job to dive into the startup world and hasn't looked back. Her experience as a family history consultant inspired Antho's mission to make it more social.</p> 
            <p>She's a runner, a cheese lover, a climber of mountains and a family-of-ten survivor. She hails from Wenatchee, WA and is definitely a country girl at heart, but for now loves living it up in the city.</p>
            <h4>Email: nicole@antho.co<br>Twitter: <a href="https://www.twitter.com/nicoleBcheung" target="_blank">@nicoleBcheung</a><br>Blog: <a href="http://www.nicolio.co" target="_blank">www.nicolio.co</a></h4>
        </div>
    </div>
    <div class="bottom">
        <%= image_tag("Aboutpic1.png", :size => "100x100", :id => "aboutpic1") %>
        <%= image_tag("Aboutpic2.png", :size => "100x100", :id => "aboutpic2") %>
        <%#= image_tag("Anthologowhite.png", :size => "100x100", :id => "anthologo2") %>
        <%= image_tag("Aboutpic3.png", :size => "100x100", :id => "aboutpic3") %>
        <%= image_tag("Aboutpic4.png", :size => "100x100", :id => "aboutpic4") %>
    </div>
</div>

</div>
