<head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34718344-1']);
  _gaq.push(['_setDomainName', 'antho.co']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<%= provide(:title, 'Jobs') %>
<div class="wrap">
    <div id="jobs">
        <div class="top">
            <h1>Jobs</h1>
            <br>
            <p>We work with purpose and we do it with style.<br>Join team Antho and revolutionize the family history and social media worlds.</p>
        </div>
        <div class="position">
            <h2>Team Antho</h2>
            <br>
            <p>We're not actively recruiting teammates at the moment, but feel free to send us an e-mail if you'd like to know more about Antho or are interested in working with us in the future!</p>
            <br>
            <p><strong>Alex Cheung, CEO:</strong> alex@antho.co</p> 
            <br>
            <p><strong>Nicole Cheung, President:</strong> nicole@antho.co</p>
            <!--h2><strong>Ruby on Rails Developer</strong></h2>
            <p> If you revel in the challenges of the startup world, crave opportunities to grow, thrive on creativity and don't mind living in the coolest city ever, Antho is where you want to be.</p>

            <p>Family history is one the fastest growing hobbies in all the world, and yet no one has ventured to make it social. That's where we come in. We are commited, passionate, daring cofounders on a journey to change the motives of social media and the status quo of family history. We are a for-purpose company and believe our ideals have the potential to influence millions around the world. In three months, we've built the prototype of our site from scratch having never known how to code before. We know what it takes to build something with our own two hands and how amazingly rewarding it is. 

            <p>We are now ready to hand the technicial reigns off to a dedicated and brilliant engineer. That's where you come in. We're in the market for a like-minded individual - someone who strives for excellence, thrives under pressure and works crazy hard. It shouldn't be a stretch for people to think of you as:
                <ul>
                    <li><strong>A team player</strong>: You don't just work well with other people; people miss you like crazy when you're not around. You're that awesome.</li>
                    <li><strong>A go-getter</strong>: You see something you want and you go for it. No doubt. No fear. All in.</li>
                    <li><strong>A self-learner:</strong> You don't wait for someone to show you or tell you how. You figure it out. And it's fun.</li>
                    <li><strong>An idealist:</strong> You want to change the world for the better. You pursue a life with purpose and meaning.</li>
                </ul></p>   
            <p>If you fit the bill, contact us at alex@antho.co and show us everything you've got!</p--> 
        </div>
        <br><br>
        <div class="bottom">
            <%= image_tag("Jobspic1.png", :size => "100x100", :id => "jobspic1") %>
            <%= image_tag("Jobspic2.png", :size => "100x100", :id => "jobspic2") %>
            <%= image_tag("Anthologowhite.png", :size => "100x100", :id => "anthologo2") %>
            <%= image_tag("Jobspic3.png", :size => "100x100", :id => "jobspic3") %>
            <%= image_tag("Jobspic4.png", :size => "100x100", :id => "jobspic4") %>
        </div>
    </div>
</div>