<div class="wrap">
  <div class="top">
    <h1>Request an Invite</h1>
    <p>Sign up below, and we'll send you an invitation as soon as we're able!</p> 
  </div>
  <br><br>
  <div class="form">
    <div class="evangelist">
        <%= form_for @evangelist do |f| %>
                <%#= render 'shared/error_messages', object: @evangelist %>
              <div class="field2">
                  <p><%= f.label :name %></p>
                  <%= f.text_field :name %>
              </div>
              <br>
              <div class="field2">
                  <p><%= f.label :email %></p>
                  <%= f.text_field :email %>
              </div>
              <br>
              <div class="field2">
                <%= f.submit "Sign Up", class: "button" %>
              </div>  
        <% end %>
    </div>  
  </div>
  <br><br><br>
  <div class="bottom">
        <%= image_tag("Anthologowhite.png", :size => "100x100", :id => "anthologo2") %>
  </div>

</div>
