<div class="wrap">
  <h1>Enter a New Password</h1>
  <br>
  <div id="passwordreset">

  <!-- correct shared/errors -->

  <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>

    <div class="top">
        <h1>Reset Password</h1>
        <p>No worries, we all forget sometimes.</p>
    </div>
    <div class="error_messages">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field4">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <br>
    <div class="field4">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <br>
    <div class="field4"><%= f.submit "Update Password", :class => "button3"  %></div>
    <br><br>
    <% end %>
    <div class="bottom">
      <%= image_tag("Anthologowhite.png", :size => "100x100", :id => "anthologo2") %>
    </div>
</div>
